/* Upper bar */

div#wpadminbar {
    background-color: black;
}

/* Admin Bar Upper Left Menu */
ul #wp-admin-bar-wp-logo-external {
    background-color: #153f15 !important;
}

ul.ab-submenu {
    background-color: #153f15 !important;
}

ul #wp-admin-bar-wp-logo-external li {
    margin-top: 0.5em;
}

#wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
    color: #ffffff !important;
}

ul#wp-admin-bar-site-name-default li, ul#wp-admin-bar-site-name-default {
    background-color: #252525 !important;
}

span.display-name {
    font-size: 1em !important;
    height: 2em !important;
}

ul#wp-admin-bar-user-actions li {
    margin-top: 0.5em;
}

/*
#wpadminbar .quicklinks>ul>li>a {
    color: #ffffff !important;
    background-color: #252525 !important;
}
*/


/* Enlarging font in main menu */

div.wp-menu-name {
    font-size: 1.4em;
}

/* Fonts */
body.wp-admin{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
}
h2 .nav-tab, .wrap h2, .subtitle, .login form .input {
	font-family: Verdana, Geneva, sans-serif;
}
#wpadminbar *{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}
div.sidebar-name h3, #menu-management .nav-tab, #dashboard_plugins h5, a.rsswidget, #dashboard_right_now td.b, #dashboard-widgets h4, .tool-box .title, #poststuff h3, .metabox-holder h3, .pressthis a, #your-profile legend, .inline-edit-row fieldset span.title, .inline-edit-row fieldset span.checkbox-title, .tablenav .displaying-num, .widefat th, .quicktags, .search {
	font-family: Verdana, Geneva, sans-serif;
}
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {
	font-weight: 400;
}



.wp-admin {font-size: 120% !important; }
/* Submenu */
#adminmenu .wp-submenu a {font-size: 1em; line-height: 28px; color: #FFFF66;}
/* Main Menu */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {font-size: 18px; color: white;}
/* Other */
#adminmenu .wp-not-current-submenu li a {padding-top: 11px;}
/* Margin of menu items */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {line-height: 1.2em;}

.main-navigation li a {
color: #000;
}


/* Selected Item in Menu */

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #0055aa;
    color: #ffffff;
}

/* Size and color of h2 */
h2 {
 font-size: 1.4em !important;   
 color: black;
}

select#bulk-action-selector-top {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 220px;
}

input#doaction {
    font-size: 1.1em;
}

select#filter-by-date {
    font-size: 1.5em;
    height: 1.5em;
}

input#post-query-submit {
    font-size: 1.1em;
}

/* Screen Options */

a#show-settings-link.show-settings {
    font-size: 1.5em;
    color: black;
}

/* Contextual Help */

a#contextual-help-link.show-settings {
    font-size: 1.5em; 
    color: black;
}

/* Widening Menu, background color, etc. */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

div#wpwrap{
	overflow-x: hidden;
	min-width: 900px;
}
#adminmenuback, #adminmenuwrap, #adminmenu {
	width:200px;
    background-color: black;
}

#adminmenu .wp-submenu, #adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
	width:200px;
    background-color: #252525;
}

#adminmenu li.wp-menu-open .wp-submenu {
    background-color: #252525;
}


div#wpcontent, div#footer{
	margin-left:220px;
}
div#normal-sortables{
	min-height: 20px !important;
}
li#wp-admin-bar-new-content, li#wp-admin-bar-comments, li#collapse-menu{
	display:none;
}

/* Odsazení menu pokud je stránka roztáhnutá. Né moc, ale ani né málo.*/ 
/* Použije se pouze pro displeje širší než 781px */
@media (min-width: 781px){
    #adminmenu li .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
        left: 201px;
    }
}


#adminmenu li.wp-menu-open .wp-submenu{
	left: 0px !important;
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
    -moz-transform: translate(200px) !important;
}
div.wp-menu-arrow{
	right: 145px !important;
}

div#dashboard_right_now div.versions{
	display:none;
}

div#dashboard_right_now{
	min-height: 180px;
}

.postbox-container .meta-box-sortables.empty-container, #side-sortables.empty-container{
	border: 0px !important;
}

div.wp-menu-name a:hover {
    color: white;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Widening Menu, background color, etc. - End */

/* Howdy, Nickname text */
a.ab-item {
    font-size: 1.5em !important;
}

span {
    font-size: 1em;
    font-weight: normal;
}

span.count {
    font-size: 1em;   
}

span#footer-thankyou {
    font-size: 1em;
    visibility: hidden;
}


/* Enlarging CHECKBOXes */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

a.row-title {
    font-size: 1.5em !important;   
}

td.author.column-author, td.categories.column-categories, td.tags.column-tags, td.date.column-date {
    font-size: 1.1em;   
}

input#search-submit.button {
    font-size: 1.5em; 
    color: black;
}

input#post-search-input {
    font-size: 1.5em;   
}

span.displaying-num {
    font-size: 1.5em !important;   
    color: black !important;
}

select#bulk-action-selector-bottom {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 220px;
}

input#doaction2.button.action {
    font-size: 1.1em;   
}

/* Help */

.contextual-help-tabs .active a {
    font-size: 0.8em;
    line-height: 100%;
}



/* Verze */
p#footer-upgrade {
    font-size: 1.3em;
}

/* Correction - Adding an error when form is not filled at all */
/* Not necessary anymore. Solved using Javascript */
/*
.form-field.form-required.form-invalid:before {
    content: "Nevyplnil jste údaj, který je povinný!";
    color: red;
    font-weight: bold;
}
*/

p#media_upload_help {
    font-size: 1em !important;
}


/* WordPress Login Screen */

input#wp-submit {
    font-size: 3em !important;
    height: 3em;
}

body.login label[for="user_login"] {
    font-size: 2.5em;
    color: black;
}

label[for="user_pass"] {
    font-size: 2.5em;
    color: black;
}

label[for="rememberme"] {
    font-size: 2em !important;
    color: black;
}

div#login_error {
    font-size: 1.5em;
    line-height: 120%;
}

/* Status message - e.g. you are now logged out */

p.message {
    font-size: 1.5em !important;
}

/* Actualization */

body.update-core-php div.wrap p {
    font-size: 1em !important;
}

body.update-core-php tbody.plugins p {
    font-size: 1.5em !important;
}

body.update-core-php div.wrap .button {
    font-size: 1.6em !important;
    height: 1.3em;
    color: black;
}

input#upgrade {
    color: black;
    height: 1.3em !important;
}

label[for="plugins-select-all"], label[for="plugins-select-all-2"] {
    font-size: 1.5em;
}

#update-plugins-table tbody td p strong {
    font-size: 1.5em;
}


/* Contextual help line spacing */
.contextual-help-tabs a, .contextual-help-tabs .active a {
    line-height: 130%;
}

/* Info Message */

div#message p {
    font-size: 1em !important;
}

input#save-post {
    height: 2.3em !important;
}


/* Update Mini Update Icon in menu */

span.update-count, span.plugin-count {
    font-size: 1.8em;
}

span.count {
    color: black !important;
}

/* Dashboard Edit */

div#published-posts span {
    font-size: 1.1em;
    color: black;
}

div#published-posts a {
    font-size: 1.1em;
}

h4.comment-meta {
    font-size: 1.5em !important;
    color: black !important;
}

div.dashboard-comment-wrap p {
    font-size: 1em !important;
}


/* Search input texts - placeholders */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #226622;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #226622;
}


/* Errors and Update messages */

div.updated.settings-error p{
    font-size: 1em !important;
}


/* Dashboard Welcome Screen */

a.welcome-icon, div.welcome-icon, a.welcome-panel-close {
    font-weight: bold;
}