div#recommendations_outer {
    width: 20em;
    border: 0.2em solid;
    border-color: black;
    
}

div#recommendations_inner {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

div#regular_help {
    width: 20em;
    border: 0.12em solid;
    border-color: black;
    margin-top: 0.5em;
}

div#regular_help_inner {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}


/* Contexual Help Styling */
p#new_page {
    font-size: 1em !important;
}

p.pruvodce {
    font-size: 1em !important;
}
