/* Buttons */

a.button {
    background-color: #90DDDD !important;
    color: black !important;
    font-weight: normal;
    border-width: medium;
    border-color: black;
}

input.button {
    background-color: #90DDDD !important;
    color: black !important;
    border-color: black !important;
    border-width: medium;
    border-color: black;
}

a.cancel, a.save {
    background-color: #90DDDD !important;
    color: black !important;
    border-color: black !important;
    border-width: medium;
    border-color: black;
}

/* Admin Menu Hover Background Colors */

ul#adminmenu a:hover {
    color: black !important;
    background-color: white !important;
}

a.button:hover {
    color: #90DDDD !important;
    background-color: black !important; 
    border-width: medium;
    border-color: black !important;
}

a.cancel:hover, a.save:hover {
    color: #90DDDD !important;
    background-color: black !important; 
    border-width: medium;
    border-color: black !important;
}

input.button:hover{
    color: #90DDDD !important;
    background-color: black !important;
    border-width: medium;
    border-color: black !important;
}

#wpadminbar .quicklinks a:hover, #wpadminbar .shortlink-input:hover {
    color: #252525 !important;
    background-color: #ffffff !important;
}


/* Links Color */

body a {
    color: #004488;
}

body h2 a {
    color: #003377;
}

body a:hover {
    color: #0000ff;
}

a.submitdelete {
    color: #992020 !important;
}

a.submitdelete:hover {
    color: #B00101 !important;
}

h2 a:hover {
    color: #000000 !important;
    background-color: #90DDDD !important;
}


/* Admin Bar hover */

a:hover span {
    color: black !important;
}

/*
a:hover:before {
    color:black !important;
    font-size:24px;
}
*/