/* All Posts */
p {
    font-size: 1em;   
}

a.button{
    font-size: 1.2em !important;   
}

input#upgrade.button {
    font-size: 1.2em;   
}

a.add-new-h2 {
    font-size: 1em !important;   
}

li.all {
    font-size: 1.5em;   
}

li.publish {
    font-size: 1.5em;
}

li.draft {
    font-size: 1.5em;
}

li.trash {
    font-size: 1.5em;
}

input#screen-options-apply.button {
    font-size: 1.1em;   
}

span.edit, span.inline.hide-if-no-js, span.trash, span.view{
    font-size: 1.5em;   
}

th.manage-column.column-title, th#author.manage-column.column-author, th#categories.manage-column.column-categories, th#tags.manage-column.column-tags, th#date.manage-column {
    font-size: 1.5em;   
}

th.manage-column.column-author, th.manage-column.column-categories, th.manage-column.column-tags, th.manage-column.column-date {
    font-size: 1.5em;   
}

/* Add New Post */
div.misc-pub-section.misc-pub-post-status {
    font-size: 1.3em;   
}

div#visibility.misc-pub-section.misc-pub-visibility {
    font-size: 1.3em;   
}

div.misc-pub-section.curtime.misc-pub-curtime {
    font-size: 1.3em;   
}

h3.hndle {
    font-size: 1.5em !important;   
}

div#major-publishing-actions {
    font-size: 1.5em;   
}

div#minor-publishing-actions {
    font-size: 1.5em;
}

input#publish.button.button-primary {
    font-size: 1em;   
}

input#save-post.button {
    font-size: 1em;   
}

div#post-formats-select {
    font-size: 1.5em;   
}

ul#category-tabs.category-tabs {
    font-size: 1.4em;
}

a#category-add-toggle {
    font-size: 1.5em;   
}

input#new-tag-post_tag.newtag.form-input-tip {
    font-size: 1.5em;   
}

input.button.tagadd {
    font-size: 1.5em;   
}

p.howto {
    font-size: 1.3em;   
}

a#link-post_tag.tagcloud-link {
    font-size: 1.5em;   
}

a#set-post-thumbnail.thickbox {
    font-size: 1.5em;
}

div.tabs-panel {
    font-size: 1.5em;
}

input#newcategory {
    font-size: 1.5em;
}

select#newcategory_parent {
    font-size: 1.4em;
}

input#category-add-submit {
    font-size: 1.5em;
}

p#tagcloud-post_tag {
    font-size: 1.5em;
}

a.media-menu-item {
    font-size: 1.5em;
}

h3.upload-instructions {
    font-size: 2.5em;
}

p.upload-instructions {
    font-size: 3.5em;
}

a.browser.button.button-hero {
    font-size: 2em !important;
}

p.max-upload-size {
    font-size: 2em;
}

a.button.media-button.button-primary {
    font-size: 2em !important;
}

select.attachment-filters {
    font-size: 1.5em;
    height: 1.7em !important;
}

input.search {
    font-size: 1.5em !important;
}

h3.upload-message {
    font-size: 2.5em;
}

h3.upload-instructions {
    font-size: 1.5em !important;
}

p.upload-instructions {
    font-size: 3em !important;
}

td#wp-word-count {
    font-size: 1.3em;
}

a.wp-switch-editor {
    font-size: 1.5em;
}

div.timestamp-wrap {
    font-size: 1.5em !important;
}

select#mm {
    font-size: 1.3em;
    height: 1.3em;
}

input#jj, input#aa, input#hh, input#mn {
    font-size: 1.3em;
}

a.save-timestamp, a.cancel-timestamp {
    font-size: 1.5em;
}


/*Post Categories and Tags */
div.form-wrap {
    font-size: 1.5em;
}

label[for="tag-name"], input#tag-name, label[for="tag-slug"], input#tag-slug, label[for="parent"], label[for="tag-description"], textarea#tag-description {
    font-size: 1em !important;
}

select#parent {
    font-size: 1em !important;
    height: 1.4em;
}

p {
    font-size: 0.7em !important;
    color: black !important;
}

input.button.button-primary {
    font-size: 1.5em;
    height: 1.5em;
}

input#tag-search-input {
    font-size: 1.5em;
}

th.manage-column.column-name, th.manage-column.column-description, th.manage-column.column-slug, th#name.manage-column.column-name {
    font-size: 1.5em;
}

th#cb {
    width: 40px;
}

th#posts.manage-column.column-posts.num.sortable {
    font-size: 1em;
}

th.manage-column.column-posts.num.sortable {
    font-size: 1em;
}


td.name.column-name {
    font-size: 0.9em;
}

td.description.column-description, td.slug.column-slug, td.posts.column-posts {
    font-size: 1.2em;
}

td.posts.column-posts {
    text-align: left;
}

/* Quick Edit Category and Edit Category */

div.inline-edit-col {
    font-size: 1.5em;
}

input.ptitle {
    font-size: 1.5em;
}

a.cancel.button-secondary, a.save.button-primary {
    font-size: 1.5em;
}

label[for="name"], label[for="slug"], label[for="parent"], label[for="description"] {
    font-size: 1.5em;
}

input#submit {
    font-size: 2em;
}

input#name, input#slug, select#parent, textarea#description {
    font-size: 1.5em;
}

p.description, span.description {
    font-weight: bold !important;
}

span.description {
    font-size: 1em;
}

select#cat.postform {
    font-size: 1.5em;
    /* Do not change max-width */
    /*max-width: 220px;*/
}

/* Size of text input for new posts */
body#tinymce.mce-content-body.content.post-type-post.post-status-publish.post-format-standard p {
    font-size: 350% !important;
    color: red;
}

/* Add New Post - Visual/Text Switch */

a#content-mce, a#content-html {
    color: black;
}

.html-active .switch-html, .tmce-active .switch-tmce {
    background: #f5f5f5;
    color: #000000 !important;
}

/* Category Selection While Adding New Post */

label.selectit {
    font-size: 1.5em;
    color: #000000;
}