/* Media */

p.max-upload-size {
    font-size: 2em !important;
}

select.attachment-filters {
    font-size: 1.5em !important;
    height: 1.5em;
}

a.button.media-button.button-large.select-mode-toggle-button {
    font-size: 1.5em !important;
    height: 1.5em;
}