/* Edit Page */

select#page_template, select#parent_id {
    font-size: 1.5em;
    height: 1.7em;
}

input#menu_order {
    font-size: 2em !important;
}

a#set-post-thumbnail {
    font-size: 2.5em !important;
}

p.howto {
    font-size: 1.5em !important;
}

a#link-post_tag {
    font-size: 1.5em !important;
}

/* Quick Edit and Edit in Pages */

span.post-state, span.title, span.checkbox-title {
    color: black;
    font-size: 1em;
}

a.cancel {
    color: black !important;
}

em.alignleft {
    color: black;
}

span.input-text-wrap input {
    font-size: 1.5em;
}

label[for="author"], label[for="author-email"], label[for="author-url"] {
    color: black;
}

input#author, input#author-email, input#author-url {
    font-size: 1.5em;
    width: 8em !important;
}

textarea.wp-editor-area {
    font-size: 1em;
}

td.first {
    color: black;
    font-size: 1.5em !important;
}

input#newcomment_author_url {
    font-size: 1.5em;
    color: black
}

label.approved, label.waiting, label.spam {
    font-size: 1.5em;
}