/* Comments */

li.moderated {
    font-size: 1.5em;
}


li.approved {
    font-size: 1.5em;
}


li.spam {
    font-size: 1.5em;
}


li.trash {
    font-size: 1.5em;
}

th.manage-column.column-comment, th.manage-column.column-response {
    font-size: 1.5em;
}

td.comment.column-comment, td.response.column-response {
    font-size: 1em;
}

td.colspanchange {
    font-size: 1em;
}

span.unapprove, span.reply, span.quickedit, span.spam {
    font-size: 1.5em;
}

div.submitted-on {
    color: black;
}

select#bulk-action-selector-bottom {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 220px;
}