/* Appearance */

input#wp-filter-search-input {
    font-size: 1em !important;
    width: 360px;
    max-width: 400px !important;
}

p.no-themes {
    font-size: 1.5em !important;
}

.accordion-section-title {
    font-size: 1.5em !important;
}

.theme-name.site-title {
    font-size: 2em !important;
    font-weight: bold !important;
}

input#save {
    font-size: 1.8em;
}

h3.theme-name {
    font-size: 1.5em !important;
}

/* Appearance - Widgets */

div.widget-description {
    font-size: 1em !important;
}

div.widget-title {
    font-size: 1.5em;
}

span.add {
    font-size: 1.5em;
}

p.description {
    font-size: 1em !important;
}

a#access-off, a#access-on {
    font-size: 1.5em;
}

/* Appearance - Menus */

p.post-body-plain {
    font-size: 1em !important;
}

ul#pagechecklist-most-recent, ul#pagechecklist {
    font-size: 0.9em;
}

a.select-all {
    font-size: 1.5em;
}

input#submit-posttype-page, input#menu-name {
    font-size: 1.5em;
}

div#menu-instructions {
    font-size: 1.5em;
}

dt.howto {
    color: black;
}

dl.menu-theme-locations {
    color: black;
}

p#menu-item-url-wrap, p#menu-item-name-wrap {
    font-size: 1em !important;
}

input#custom-menu-item-url, input#custom-menu-item-name {
    font-size: 1em;
}

input#submit-customlinkdiv {
    font-size: 1.5em;
}

ul#categorychecklist-pop, ul#categorychecklist {
    font-size: 0.6em;
}

ul#categorychecklist-pop li, ul#categorychecklist li {
    margin-top: 0.2em;
}

input.quick-search {
    font-size: 1em;
}

input#submit-taxonomy-category {
    font-size: 1.5em;
}

th.column-locations, th.column-menus {
    font-size: 1.3em;
}

td.menu-location-title {
    font-size: 1em;
    color: black;
}

select#locations-primary, select#locations-secondary {
    font-size: 1.5em;
}

span.locations-add-menu-link {
    font-size: 1.5em;
}

label.menu-item-title {
    font-size: 0.7em;
    color: black;
}

input#submit-posttype-page {
    color: black;
}

span.menu-item-title {
    font-size: 1.5em;
}

span.item-type {
    font-size: 1.5em;
    color: black;
}

p.link-to-original {
    font-size: 1em !important;
}


/* Appearance - Header, Background */

.form-table, .form-table td, .form-table td p, .form-table th, .form-wrap label {
    font-size: 1em;
}

input#submit {
    height: 1.5em;
}

input#upload {
    font-size: 1.5em;
}

label[for="upload"], label[for="choose-from-library-link"] {
    font-size: 1.2em !important;
    color: black !important;
}

a#choose-from-library-link {
    font-size: 1.5em !important;
    color: black;
}

a.wp-color-result:after {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
}

input#text-color {
    font-size: 1.5em;
    width: 5em;
}

input.button.button-small.wp-picker-default {
    font-size: 1.5em;
    color: black;
    height: 1.5em;
}

input#save-header-options, input#save-background-options {
    font-size: 2em !important;
}

/* Appearance - Editor, Plugins - Editor */

span.nonessential {
    font-size: 0.8em;
}

select#theme {
    font-size: 1.5em;
    height: 1.5em;
}

label[for="theme"] {
    font-size: 1.5em;
}

input#Submit {
    font-size: 1.5em;
    height: 1.5em;
}

textarea#newcontent {
    font-size: 1em;
}

select#plugin {
    font-size: 1.5em;
    height: 1.5em;
}

select#docs-list {
    font-size: 1.5em;
    height: 1.5em;
}

input.button {
    font-size: 1.5em !important;
    height: 1.5em !important;
}

input#submit {
    font-size: 2em !important;
}


/* Appearance - Customize */

span.customize-control-title, li#customize-control-blogname input, li#customize-control-blogdescription input {
    font-size: 1.5em;
    color: black;
}

li#customize-control-display_header_text label {
    font-size: 1.2em;
    color: black;
}

p.customizer-section-intro {
    font-size: 1em !important;
}

button.button.new {
    font-size: 1.5em;
    width: 9em !important;
}

div.dropdown-status {
    font-size: 1.5em;
}

li.library-selected {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.accordion-section .customize-control-image .library li {
    color: black;
}

div.upload-dropzone {
    font-size: 1.5em;
}

.customize-control input[type=checkbox], .customize-control input[type=radio], .customize-control select {
    font-size: 1.5em;
}

label[for="widget-search-2-title"], label[for="widget-recent-posts-2-title"], label[for="widget-recent-posts-2-number"], label[for="widget-recent-posts-2-show_date"],
label[for="widget-recent-comments-2-title"], label[for="widget-recent-comments-2-number"], label[for="widget-archives-2-title"], label[for="widget-archives-2-dropdown"], label[for="widget-archives-2-count"],
label[for="widget-categories-2-dropdown"], label[for="widget-categories-2-count"], label[for="widget-categories-2-hierarchical"], label[for="widget-categories-2-title"], label[for="widget-meta-2-title"] {
    font-size: 2em;
}

input#widget-search-2-title {
    font-size: 1.5em;
}

input#widget-recent-posts-2-title, input#widget-recent-posts-2-number {
    font-size: 2.5em;
}

input#widget-recent-comments-2-title, input#widget-recent-comments-2-number, input#widget-archives-2-title, input#widget-categories-2-title, input#widget-meta-2-title {
    font-size: 2.5em;
}

div.accordion-section-content {
    font-size: 1.3em;
}

a.widget-control-remove, a.widget-control-close {
    font-size: 1.5em;
}

span.reorder, span.reorder-done {
    font-size: 1.5em;
}

span.add-new-widget {
    font-size: 1em !important;
}

.customize-control-radio label {
    font-size: 1.5em;
}

.customize-control select {
    min-width: 50%;
    max-width: 100%;
    height: 2em;
    line-height: 28px;
}

.customize-control input[type=email], .customize-control input[type=number], .customize-control input[type=password], .customize-control input[type=search], .customize-control input[type=tel], .customize-control input[type=text], .customize-control input[type=url] {
    font-size: 1.5em;
}

li#customize-control-featured-content-hide-tag label {
    font-size: 1.5em;
    color: black;
}

span.collapse-sidebar-label {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}


/* Customize - Menu Color */

span.preview-notice {
    color: black;
}

h3.accordion-section-title {
    color: black !important;
}




