/* Plugins - Installed Plugins */

input#plugin-search-input {
    font-size: 1.5em;
}

li.active, li.inactive, li.upgrade {
    font-size: 1.5em;
}

span.activate, span.delete, span.deactivate {
    font-size: 1.5em;
}

.plugins .inactive .plugin-title strong {
    font-weight: 400;
    font-size: 1.5em;
}

td.plugin-title strong, td.post-title strong {
    display: block;
    margin-bottom: .2em;
    font-size: 1.5em;
}

.plugins .desc p {
    margin: 0 0 8px;
    font-size: 1em !important;
}

div.update-message {
    font-size: 1.5em;
}

.plugin-update-tr .update-message {
    font-size: 1em;
    font-weight: 400;
    padding: 6px 12px;
    margin: 0 10px 8px 31px;
    background-color: #f7f7f7;
    background-color: rgba(0,0,0,.03);
}


/* Plugins - Add New */

div.contextual-help-sidebar p {
    font-size: 1em !important;
}

div#tab-panel-overview p {
    font-size: 1em !important;
}

li.plugin-install-featured, li.plugin-install-popular, li.plugin-install-favorites {
    font-size: 1.5em;
}

input.wp-filter-search {
    font-size: 1.5em !important;
}