/* Users - All Users */

li.administrator {
    font-size: 1.5em;
}

select#new_role {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 300px;
}

input#user-search-input {
    font-size: 1.5em;
    height: 1.5em;
}

th#username, th#name, th#email, th#role, th#posts {
    font-size: 1.4em;
}

 th.column-username, th.column-name, th.column-email, th.column-role, th.column-posts {
     font-size: 1.4em;
 }

input#users_per_page {
    font-size: 1.5em;
}

label[for="users_per_page"] {
    font-size: 1.5em;
}

td.username.column-username, td.name.column-name, td.email.column-email, td.role.column-role {
    font-size: 1em;
}


/* Users - Add New User */

input#user_login, input#email, input#first_name, input#last_name, input#url, input#pass1, input#pass2, select#role {
    font-size: 1.5em;
    height: 1.5em;
}

input#createusersub {
    font-size: 2em !important;
}

input#nickname, select#display_name {
    font-size: 1.5em;
    height: 1.5em;
}

div#pass-strength-result {
    font-size: 1.5em;
    width: 9.5em;
    height: 1.5em;
}

label[for="rich_editing"], label[for="comment_shortcuts"], label[for="admin_bar_front"], label[for="send_password"] {
    color: black;
}