/* Settings - General */

input#blogname, input#blogdescription, input#siteurl, input#home, input#admin_email {
    font-size: 1.5em;
}

select#default_role, select#timezone_string, select#start_of_week {
    font-size: 1.5em;
    height: 1.5em;
}

.form-table, .form-table td, .form-table td p, .form-table th, .form-wrap label {
    font-size: 1em;
}

.form-table th, .form-wrap label {
font-size: 1.5em;
}
    
.form-table td fieldset label, .form-table td fieldset li, .form-table td fieldset p {
    color: black;
    font-size: 1.5em;
}


/* Settings - Writing */

select#default_category, select#default_post_format, select#default_email_category {
    font-size: 1.5em;
    height: 1.5em;
}

input#mailserver_url, input#mailserver_port, input#mailserver_login, input#mailserver_pass {
    font-size: 1.5em;
} 


/* Settings - Reading */

.wp-admin select {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 500px !important;
}

label[for="page_on_front"], label[for="page_for_posts"] {
    font-size: 1em !important;
}

input#posts_per_page {
    font-size: 1.5em;
}

body.options-reading-php td {
    color: black !important;
}


/* Settings - Discussion */

textarea#moderation_keys, textarea#blacklist_keys {
    font-size: 1.5em;
}


/* Settings - Media */

input#thumbnail_size_w, input#thumbnail_size_h, input#medium_size_w, input#medium_size_h, input#large_size_w, input#large_size_h {
    font-size: 1.5em;
}


/* Settings - Permalink */

code {
    font-size: 1.5em;
}

input#permalink_structure, input#category_base, input#tag_base {
    font-size: 1.5em;
}

/* Settings - Plugin Settings */

select#matstgs_settings_0, select#matstgs_settings_1, select#matstgs_settings_2, select#matstgs_settings_3, select#matstgs_settings_4, select#matstgs_settings_5, select#matstgs_settings_6,
select#matstgs_settings_7, select#matstgs_settings_8, select#matstgs_settings_9, select#matstgs_settings_10 {
    font-size: 1.5em !important;
    height: 1.5em !important;
}

hr#plugin_settings1 {
    display: block;
    margin-top: 0.7em;
    margin-right: -1em;
    border-style: inset;
    border-width: 0.13em;
    border-color: black;
}

hr#plugin_settings2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.2em;
    border-color: black;
}
