/* Horni panel - bar */

div#wpadminbar {
    background-color: black;
}

/* Admin Bar Horní Levé Menu */
ul #wp-admin-bar-wp-logo-external {
    background-color: #153f15 !important;
}

ul #wp-admin-bar-wp-logo-external li {
    margin-top: 0.5em;
}


/* Zvetseni hlavniho fontu v menu. */

div.wp-menu-name {
    font-size: 1.4em;
}

/* Fonts */
body.wp-admin{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
}
h2 .nav-tab, .wrap h2, .subtitle, .login form .input {
	font-family: Verdana, Geneva, sans-serif;
}
#wpadminbar *{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}
div.sidebar-name h3, #menu-management .nav-tab, #dashboard_plugins h5, a.rsswidget, #dashboard_right_now td.b, #dashboard-widgets h4, .tool-box .title, #poststuff h3, .metabox-holder h3, .pressthis a, #your-profile legend, .inline-edit-row fieldset span.title, .inline-edit-row fieldset span.checkbox-title, .tablenav .displaying-num, .widefat th, .quicktags, .search {
	font-family: Verdana, Geneva, sans-serif;
}
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {
	font-weight: 400;
}



.wp-admin {font-size: 120% !important; }
/* Submenu */
#adminmenu .wp-submenu a {font-size: 1em; line-height: 28px; color: yellow;}
/* Hlavní menu */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {font-size: 18px; color: white;}
/* Zatím nevím co přesně ovlivňuje */
#adminmenu .wp-not-current-submenu li a {padding-top: 11px;}
/* Odsazení položek menu od sebe */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {line-height: 1.2em;}

.main-navigation li a {
color: #000;
}

/* Změna velikosti fontu a barvy nadpisů h2 */
h2 {
 font-size: 1.4em !important;   
 color: black;
}

select#bulk-action-selector-top {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 220px;
}

input#doaction {
    font-size: 1.1em;
}

select#filter-by-date {
    font-size: 1.5em;
    height: 1.5em;
}

select#cat.postform {
    font-size: 0.9em;
    /* Neměnit max-width, rozhodí to formulářový design*/
    /*max-width: 220px;*/
}

input#post-query-submit {
    font-size: 1.1em;
}








/* Rozšíření MENU, barva pozadí, atd. */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

div#wpwrap{
	overflow-x: hidden;
	min-width: 900px;
}
#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu, #adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
	width:200px;
    background-color: black;
}
div#wpcontent, div#footer{
	margin-left:220px;
}
div#normal-sortables{
	min-height: 20px !important;
}
li#wp-admin-bar-new-content, li#wp-admin-bar-comments, li#collapse-menu{
	display:none;
}
#adminmenu li .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
	left: 201px !important;
}
#adminmenu li.wp-menu-open .wp-submenu{
	left: 0px !important;
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
    -moz-transform: translate(200px) !important;
}
div.wp-menu-arrow{
	right: 145px !important;
}

div#dashboard_right_now div.versions{
	display:none;
}

div#dashboard_right_now{
	min-height: 180px;
}

.postbox-container .meta-box-sortables.empty-container, #side-sortables.empty-container{
	border: 0px !important;
}

div.wp-menu-name a:hover {
    color: white;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Rozšíření MENU konec */


/* All Posts */
p {
    font-size: 1em;   
}

a.button{
    font-size: 1.2em !important;   
}

input#upgrade.button {
    font-size: 1.2em;   
}

a.add-new-h2 {
    font-size: 1em !important;   
}

li.all {
    font-size: 1.5em;   
}

li.publish {
    font-size: 1.5em !important;
}

a#show-settings-link.show-settings {
    font-size: 1.5em;
    color: black;
}

input#screen-options-apply.button {
    font-size: 1.1em;   
}

a#contextual-help-link.show-settings {
    font-size: 1.5em; 
    color: black;
}

span.edit, span.inline.hide-if-no-js, span.trash, span.view{
    font-size: 1.5em;   
}

th.manage-column.column-title, th#author.manage-column.column-author, th#categories.manage-column.column-categories, th#tags.manage-column.column-tags, th#date.manage-column {
    font-size: 1.5em;   
}

th.manage-column.column-author, th.manage-column.column-categories, th.manage-column.column-tags, th.manage-column.column-date {
    font-size: 1.5em;   
}

/* Howdy, Nickname text */
a.ab-item {
    font-size: 1.5em !important;
}

span {
    font-size: 1em;
    font-weight: normal;
}

span.count {
    font-size: 1em;   
}

span#footer-thankyou {
    font-size: 1em;
    visibility: hidden;
}


/* Zvětšení CHECKBOXů */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

a.row-title {
    font-size: 1.5em !important;   
}

td.author.column-author, td.categories.column-categories, td.tags.column-tags, td.date.column-date {
    font-size: 1.1em;   
}

input#search-submit.button {
    font-size: 1.5em; 
    color: black;
}

input#post-search-input {
    font-size: 1.5em;   
}

span.displaying-num {
    font-size: 1.5em !important;   
    color: black !important;
}

select#bulk-action-selector-bottom {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 220px;
}

input#doaction2.button.action {
    font-size: 1.1em;   
}

/* Add New Post */
div.misc-pub-section.misc-pub-post-status {
    font-size: 1.3em;   
}

div#visibility.misc-pub-section.misc-pub-visibility {
    font-size: 1.3em;   
}

div.misc-pub-section.curtime.misc-pub-curtime {
    font-size: 1.3em;   
}

h3.hndle {
    font-size: 1.5em !important;   
}

div#major-publishing-actions {
    font-size: 1.5em;   
}

div#minor-publishing-actions {
    font-size: 1.5em;
}

input#publish.button.button-primary {
    font-size: 1em;   
}

input#save-post.button {
    font-size: 1em;   
}

div#post-formats-select {
    font-size: 1.5em;   
}

ul#category-tabs.category-tabs {
    font-size: 1.4em;
}

a#category-add-toggle {
    font-size: 1.5em;   
}

input#new-tag-post_tag.newtag.form-input-tip {
    font-size: 1.5em;   
}

input.button.tagadd {
    font-size: 1.5em;   
}

p.howto {
    font-size: 1.3em;   
}

a#link-post_tag.tagcloud-link {
    font-size: 1.5em;   
}

a#set-post-thumbnail.thickbox {
    font-size: 1.5em;
}

div.tabs-panel {
    font-size: 1.5em;
}

input#newcategory {
    font-size: 1.5em;
}

select#newcategory_parent {
    font-size: 1.4em;
}

input#category-add-submit {
    font-size: 1.5em;
}

p#tagcloud-post_tag {
    font-size: 1.5em;
}

a.media-menu-item {
    font-size: 1.5em;
}

h3.upload-instructions {
    font-size: 2.5em;
}

p.upload-instructions {
    font-size: 3.5em;
}

a.browser.button.button-hero {
    font-size: 2em !important;
}

p.max-upload-size {
    font-size: 2em;
}

a.button.media-button.button-primary {
    font-size: 2em !important;
}

select.attachment-filters {
    font-size: 1.5em;
    height: 1.7em !important;
}

input.search {
    font-size: 1.5em !important;
}

h3.upload-message {
    font-size: 2.5em;
}

h3.upload-instructions {
    font-size: 1.5em !important;
}

p.upload-instructions {
    font-size: 3em !important;
}

td#wp-word-count {
    font-size: 1.3em;
}

a.wp-switch-editor {
    font-size: 1.5em;
}

div.timestamp-wrap {
    font-size: 1.5em !important;
}

select#mm {
    font-size: 1.3em;
    height: 1.3em;
}

input#jj, input#aa, input#hh, input#mn {
    font-size: 1.3em;
}

a.save-timestamp, a.cancel-timestamp {
    font-size: 1.5em;
}


/*Post Categories and Tags */
div.form-wrap {
    font-size: 1.5em;
}

label[for="tag-name"], input#tag-name, label[for="tag-slug"], input#tag-slug, label[for="parent"], label[for="tag-description"], textarea#tag-description {
    font-size: 0.8em;
}

select#parent {
    font-size: 0.8em;
    height: 1.4em;
}

p {
    font-size: 0.7em !important;
    color: black !important;
}

input.button.button-primary {
    font-size: 1.5em;
    height: 1.5em;
}

input#tag-search-input {
    font-size: 1.5em;
}

th.manage-column.column-name, th.manage-column.column-description, th.manage-column.column-slug, th#name.manage-column.column-name {
    font-size: 1.5em;
}

th#cb {
    width: 40px;
}

th#posts.manage-column.column-posts.num.sortable {
    font-size: 1em;
}

th.manage-column.column-posts.num.sortable {
    font-size: 1em;
}


td.name.column-name {
    font-size: 0.9em;
}

td.description.column-description, td.slug.column-slug, td.posts.column-posts {
    font-size: 1.2em;
}

td.posts.column-posts {
    text-align: left;
}

/* Quick Edit Category and Edit Category */

div.inline-edit-col {
    font-size: 1.5em;
}

input.ptitle {
    font-size: 1.5em;
}

a.cancel.button-secondary, a.save.button-primary {
    font-size: 1.5em;
}

label[for="name"], label[for="slug"], label[for="parent"], label[for="description"] {
    font-size: 1.5em;
}

input#submit {
    font-size: 2em;
}

input#name, input#slug, select#parent, textarea#description {
    font-size: 1.5em;
}

p.description, span.description {
    font-weight: bold !important;
}

span.description {
    font-size: 1em;
}


/* Media */

p.max-upload-size {
    font-size: 2em !important;
}

select.attachment-filters {
    font-size: 1.5em !important;
    height: 1.5em;
}

a.button.media-button.button-large.select-mode-toggle-button {
    font-size: 1.5em !important;
    height: 1.5em;
}

/* Edit Page */

select#page_template, select#parent_id {
    font-size: 1.5em;
    height: 1.7em;
}

input#menu_order {
    font-size: 2em !important;
}

a#set-post-thumbnail {
    font-size: 2.5em !important;
}

p.howto {
    font-size: 1.5em !important;
}

a#link-post_tag {
    font-size: 1.5em !important;
}

/* Comments */

li.moderated {
    font-size: 1.5em;
}


li.approved {
    font-size: 1.5em;
}


li.spam {
    font-size: 1.5em;
}


li.trash {
    font-size: 1.5em;
}

th.manage-column.column-comment, th.manage-column.column-response {
    font-size: 1.5em;
}

td.comment.column-comment, td.response.column-response {
    font-size: 1em;
}

td.colspanchange {
    font-size: 1em;
}

span.unapprove, span.reply, span.quickedit, span.spam {
    font-size: 1.5em;
}

/* Appearance */

input.wp-filter-search {
    font-size: 1em !important;
}

p.no-themes {
    font-size: 1.5em !important;
}

.accordion-section-title {
    font-size: 1.5em !important;
}

.theme-name.site-title {
    font-size: 2em !important;
    font-weight: bold !important;
}

input#save {
    font-size: 1.8em;
}

/* Appearance - Widgets */

div.widget-description {
    font-size: 1em !important;
}

div.widget-title {
    font-size: 1.5em;
}

span.add {
    font-size: 1.5em;
}

p.description {
    font-size: 1em !important;
}

a#access-off, a#access-on {
    font-size: 1.5em;
}

/* Appearance - Menus */

p.post-body-plain {
    font-size: 1em !important;
}

ul#pagechecklist-most-recent, ul#pagechecklist {
    font-size: 0.9em;
}

a.select-all {
    font-size: 1.5em;
}

input#submit-posttype-page, input#menu-name {
    font-size: 1.5em;
}

div#menu-instructions {
    font-size: 1.5em;
}

dt.howto {
    color: black;
}

dl.menu-theme-locations {
    color: black;
}

p#menu-item-url-wrap, p#menu-item-name-wrap {
    font-size: 1em !important;
}

input#custom-menu-item-url, input#custom-menu-item-name {
    font-size: 1em;
}

input#submit-customlinkdiv {
    font-size: 1.5em;
}

ul#categorychecklist-pop, ul#categorychecklist {
    font-size: 0.6em;
}

ul#categorychecklist-pop li, ul#categorychecklist li {
    margin-top: 0.2em;
}

input.quick-search {
    font-size: 1em;
}

input#submit-taxonomy-category {
    font-size: 1.5em;
}

th.column-locations, th.column-menus {
    font-size: 1.3em;
}

td.menu-location-title {
    font-size: 1em;
    color: black;
}

select#locations-primary, select#locations-secondary {
    font-size: 1.5em;
}

span.locations-add-menu-link {
    font-size: 1.5em;
}


/* Appearance - Header, Background */

.form-table, .form-table td, .form-table td p, .form-table th, .form-wrap label {
    font-size: 1em;
}

input#submit {
    height: 1.5em;
}

input#upload {
    font-size: 1.5em;
}

label[for="upload"], label[for="choose-from-library-link"] {
    font-size: 1.2em !important;
    color: black !important;
}

a#choose-from-library-link {
    font-size: 1.5em !important;
    color: black;
}

a.wp-color-result:after {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
}

input#text-color {
    font-size: 1.5em;
    width: 5em;
}

input.button.button-small.wp-picker-default {
    font-size: 1.5em;
    color: black;
    height: 1.5em;
}

input#save-header-options, input#save-background-options {
    font-size: 2em;
}

/* Appearance - Editor, Plugins - Editor */

span.nonessential {
    font-size: 0.8em;
}

select#theme {
    font-size: 1.5em;
    height: 1.5em;
}

label[for="theme"] {
    font-size: 1.5em;
}

input#Submit {
    font-size: 1.5em;
    height: 1.5em;
}

textarea#newcontent {
    font-size: 1em;
}

select#plugin {
    font-size: 1.5em;
    height: 1.5em;
}

select#docs-list {
    font-size: 1.5em;
    height: 1.5em;
}

input.button {
    font-size: 1.5em !important;
    height: 1.5em !important;
}

input#submit {
    font-size: 2em !important;
}


/* Plugins - Installed Plugins */

input#plugin-search-input {
    font-size: 1.5em;
}

li.active, li.inactive, li.upgrade {
    font-size: 1.5em;
}

span.activate, span.delete, span.deactivate {
    font-size: 1.5em;
}

.plugins .inactive .plugin-title strong {
    font-weight: 400;
    font-size: 1.5em;
}

td.plugin-title strong, td.post-title strong {
    display: block;
    margin-bottom: .2em;
    font-size: 1.5em;
}

.plugins .desc p {
    margin: 0 0 8px;
    font-size: 1em !important;
}

div.update-message {
    font-size: 1.5em;
}

.plugin-update-tr .update-message {
    font-size: 1em;
    font-weight: 400;
    padding: 6px 12px;
    margin: 0 10px 8px 31px;
    background-color: #f7f7f7;
    background-color: rgba(0,0,0,.03);
}


/* Plugins - Add New */

div.contextual-help-sidebar p {
    font-size: 1em !important;
}

div#tab-panel-overview p {
    font-size: 1em !important;
}

li.plugin-install-featured, li.plugin-install-popular, li.plugin-install-favorites {
    font-size: 1.5em;
}

input.wp-filter-search {
    font-size: 1.5em !important;
}


/* Users - All Users */

li.administrator {
    font-size: 1.5em;
}

select#new_role {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 300px;
}

input#user-search-input {
    font-size: 1.5em;
    height: 1.5em;
}

th#username, th#name, th#email, th#role, th#posts {
    font-size: 1.4em;
}

 th.column-username, th.column-name, th.column-email, th.column-role, th.column-posts {
     font-size: 1.4em;
 }

input#users_per_page {
    font-size: 1.5em;
}

label[for="users_per_page"] {
    font-size: 1.5em;
}

td.username.column-username, td.name.column-name, td.email.column-email, td.role.column-role {
    font-size: 1em;
}


/* Users - Add New User */

input#user_login, input#email, input#first_name, input#last_name, input#url, input#pass1, input#pass2, select#role {
    font-size: 1.5em;
    height: 1.5em;
}

input#createusersub {
    font-size: 2em !important;
}

input#nickname, select#display_name {
    font-size: 1.5em;
    height: 1.5em;
}

div#pass-strength-result {
    font-size: 1.5em;
    width: 9.5em;
    height: 1.5em;
}

label[for="rich_editing"], label[for="comment_shortcuts"], label[for="admin_bar_front"] {
    color: black;
}


/* Tools - Import */

td.import-system {
    font-size: 1.5em !important;
}

td.desc {
    font-size: 1em;
}


/* Tools - Export */

body.export-php label {
    font-size: 1.5em;
}


/* Settings - General */

input#blogname, input#blogdescription, input#siteurl, input#home, input#admin_email {
    font-size: 1.5em;
}

select#default_role, select#timezone_string, select#start_of_week {
    font-size: 1.5em;
    height: 1.5em;
}

.form-table, .form-table td, .form-table td p, .form-table th, .form-wrap label {
    font-size: 1em;
}

.form-table th, .form-wrap label {
font-size: 1.5em;
}
    
.form-table td fieldset label, .form-table td fieldset li, .form-table td fieldset p {
    color: black;
    font-size: 1.5em;
}


/* Settings - Writing */

select#default_category, select#default_post_format, select#default_email_category {
    font-size: 1.5em;
    height: 1.5em;
}

input#mailserver_url, input#mailserver_port, input#mailserver_login, input#mailserver_pass {
    font-size: 1.5em;
} 


/* Settings - Reading */

.wp-admin select {
    font-size: 1.5em;
    height: 1.5em;
    max-width: 500px !important;
}

label[for="page_on_front"], label[for="page_for_posts"] {
    font-size: 1em !important;
}

input#posts_per_page {
    font-size: 1.5em;
}

body.options-reading-php td {
    color: black !important;
}


/* Settings - Discussion */

textarea#moderation_keys, textarea#blacklist_keys {
    font-size: 1.5em;
}


/* Settings - Media */

input#thumbnail_size_w, input#thumbnail_size_h, input#medium_size_w, input#medium_size_h, input#large_size_w, input#large_size_h {
    font-size: 1.5em;
}


/* Settings - Permalink */

code {
    font-size: 1.5em;
}

input#permalink_structure, input#category_base, input#tag_base {
    font-size: 1.5em;
}

/* Settings - Plugin Settings */

select#matstgs_settings_0, select#matstgs_settings_1, select#matstgs_settings_2, select#matstgs_settings_3, select#matstgs_settings_4, select#matstgs_settings_5, select#matstgs_settings_6,
select#matstgs_settings_7, select#matstgs_settings_8, select#matstgs_settings_9, select#matstgs_settings_10 {
    font-size: 1.5em;
    height: 1.5em;
}








/* Verze */
p#footer-upgrade {
    font-size: 1.3em;
}

/* Oprava ukazování chyby při nevyplněném formuláří */
.form-field.form-required.form-invalid:before {
    content: "Nevyplnil jste údaj, který je povinný!";
    color: red;
    font-weight: bold;
}


/* Admin Menu Background Colors */

ul#adminmenu a:hover {
    color: black !important;
    background-color: white !important;
}

